*fit
*Resultats_root/
*Resultats_txt/
*stage/
*sndisplay
*image
histo_brut/
*stage_Kevin/
*calcul_gain_ref/roodataset/
*calcul_gain_ref/root
*calcul_gain_ref/histo_brut
*calcul_gain_ref/fit
*calcul_gain_ref/test
*calcul_gain_ref_split/root
*calcul_gain_ref_split/histo_brut
*calcul_gain_ref_split/fit
*calcul_gain_ref_split/test
*documents
*root
*resultats_txt
